@import '../../styles/common/index.less';
@import '../../styles/mixins/button.less';

/**
* Component:		  Button
* Description:		The button is used to start an instant operation.（按钮用于开始一个即时操作。）
*/

@btn-prefix-cls: ~"@{css-prefix}btn";

@btn-ghost-color: @text-color;
@btn-ghost-bg: transparent;
@btn-ghost-border: @border-color-base;

.@{btn-prefix-cls} {
  .btn;
  .btn-default;

  &-long{
    width: 100%;
  }

  // Make sure that the target of Button's click event always be `button`
  > i,
  > span {
    pointer-events: none;
  }

  &-primary {
    .btn-primary;
  }

  &-ghost {
    .btn-ghost;
  }
  
  &-dashed {
    .btn-dashed;
  }

  &-text{
    .btn-text;
  }

  &-info {
    .btn-info;
  }

  &-success {
    .btn-success;
  }

  &-warning {
    .btn-warning;
  }

  &-error {
    .btn-error;
  }
}